.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  background-color: #c5e0b4;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #318dde;
}

.apple {
  background-color: violet;
}
